.jumbotron {
    padding-top: 8vw;
    padding-right: 1em;
    padding-bottom: 16vw;
    padding-left: 1em;
    background: url('../img/jumbotron-background.jpg') center no-repeat;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    color: $white;
    text-align: center;
}