.navbar {
    margin-bottom: 2rem;
}

.navbar-brand {
    width: 15%;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
    background-color: #fff;
    text-align: center;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
        background: $primary;
    }
}