* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: #666666;
}

/* navigation */
nav {
    background-color: #666666;
    display: flex;
}
nav a {
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
}

section.welcome {
    background-color: #e0e0e0;
    padding: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0 url('../img/welcome.jpg') center center/cover no-repeat scroll;
    color: #ffffff;
}

section.welcome h1 {
    font-size: 4em;
    font-weight: normal;
    margin: 0;
}
section.welcome .subtitle {
    font-size: 2em;
    color: #999999;
}



section.plot {
    display: flex;
    flex-direction: row;
}

section.plot .text {
    display: flex;
    flex-direction: column;
}